h1{
    text-align: center;
    position: static;
    margin-top: 8cm;
}

input{
    width: 15c
    m;
    height: 1cm;
}

#reset{
    margin-left: 3cm;
    margin-top: 1cm;
    width: 150px;
    background-color:  #00395d;
    color: #00AEEF;
}

#submit{
    margin-right: 3cm;
    margin-top: 1cm;
    width: 150px;
    background-color:  #00395d;
    color: #00AEEF;
}

#login{
    margin-right: 2cm;
    margin-top: 1cm;
    width: 150px;
    background-color:  #00395d;
    color: #00AEEF;
}

#register{
    margin-left: 2cm;
    margin-top: 1cm;
    width: 150px;
    background-color:  #00395d;
    color: #00AEEF;
}
