#newVoteBody{
    background-color: white;
}
#newVote{
     margin-top: 50px;
}
#pastAllocations{
    color: #00395d;
    width: 400px;
    height: auto;
}
.card {
    border: none;
    border-radius: 0.25rem;
    background-color: #00395D;
}

