.navbar {
    background-color: #00AEEF;
}

.bi {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.team_name_btn {
    font-size: 1.6rem;
    text-decoration: none !important;
    color: white;
}

.team_name_btn:hover {
    color: rgba(255, 255, 255, 0.607);
}

.card {
    border: 5px solid #00395D;
    border-radius: 0.25rem;
    background-color: #00395D;
}

.card-header-team {
    background-color: #00395D;
}

.team_details_collapse {
    background-color: white;
}

.team_details_table tr {
    background-color: #00afef47 !important;
}

.team_details_table tr:nth-child(even) {
    background-color: #00afef83 !important;
}

.btn_vote, .vote_text {
    color: white;
    font-size: 1.6rem;
    vertical-align: middle;
}

.btn_vote:hover {
    color: rgba(255, 255, 255, 0.607);
}

#codeEntryGraduate, #codeEntryGraduateBtn {
    font-size: 2rem;
}

#codeEntryGraduate {
    width: 60%;
    display: inline;
}
.delete-btn {
  font-size: 0.5rem;
  padding: 0.1rem 0.5rem;
}