#voteResult {
    margin-top: 20px;
    padding: 50px;
	background-color: #00395D;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
}

#member{
    padding: 10px;
	background-color: #00395D;
    border-radius: 1rem;
}
#dropdown{
    color: white;
}
#student{
    color: white;
    font-size: 1.5rem;
    padding: 1.5px;
	background-color: #00aeef;
    border-radius: 0.3rem;
}
