#upload{
    margin-top: 80px;
    border-radius: 0.5rem;
    background-color: #00395D;
    border: 5px solid #00AEEF;
    color: #00AEEF;
}
#button_upload{
    margin-left: 170px;
    margin-top: 60px;
}
#teamupload{
    margin-top: 80px;
    border-radius: 0.5rem;
    background-color: #00AEEF;
    border: 5px solid #00395d;
    color: #00395d;
}
#create_new_grad{
    margin-top: 120px;
}
#grad_button{
    margin-top: 60px;
}