div {
	width: 800px;
	height: 200px;
	line-height: 100px;
	text-align: center;
	position: fixed;
    top: 4cm;
    left: 6.5cm;
    font-weight: 800;
	background-color: #00AEEF;
}
#result{
    position: fixed;
    top: 12cm;
    left:11cm;
    width: 150px;
    background-color:  #00395d;
    color: #00AEEF;
}
#edit{
    position: fixed;
    top: 12cm;
    right:9cm;
    width: 150px;
    background-color:  #00395d;
    color: #00AEEF;
}
