#voteSubmitted {
    padding: 50px;
	background-color: #00395D;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
}

.btn-vote-submitted {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
}
