{% extends 'allocationapp/admin_base.html' %}
{% load static %}

{% block title_block %}
    Allocation Already Run
{% endblock %}

{% block body_block %}
    <div class="container mt-5 text-center">
      <div id="voteSubmitted" class="mb-3">
          <p>You already <strong>run</strong> the allocation.</p>
          <p>Results have been <strong>posted</strong>. Click the button below to view team and edit it!</p>
      </div>

      <div class="row">
         <div class="col-8">
            <a href="#" class="btn btn-success btn-vote-submitted">See Results</a>
         </div>

         <div class="col-4">
            <a href="{% url 'allocationapp:portal' %}" class="btn btn-warning btn-vote-submitted">Back to the Portal</a>
         </div>
      </div>
   </div>
{% endblock %}
