{% extends 'allocationapp/admin_base.html' %}
{% load static %}

{% block title_block %}
    Create a New Team
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
     <br>
        <h2 id="title">Create a New Graduate</h2>

        <div class="form-group">
             <div class="col-md-8 offset-md-2" id="create_new_grad">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {%if message.tags == 'error'%}alert-danger{%else%}alert-success{%endif%} alert-dismissible fade show text-left mt-2">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}

                 <form action=#, method="POST">
                 {% csrf_token %}

                 <!--    Name   first line -->
                     <div class="row">
                         <div class="col">
                             <label class="required" for="first_name"> First Name:</label>
                             <input id="first_name" type="text" class="form-control" name="first_name" required>
                         </div>

                         <div class="col">
                             <label class="required" for="last_name"> Last Name:</label>
                             <input id="last_name" type="text" class="form-control" name="last_name" required>
                         </div>
                     </div>

                     <div class="row">
                        <div class="col">
                            <label class="required" for="email">Email: </label>
                            <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="col">
                            <label class="required" for="role">Role: </label>
                            <select id = "role" class="form-control" name="role" required>
                            <option value="1">Manager</option>
                            <option value="2">Graduate</option>
                         </select>
                         </div>
                     </div>
                     <div class="row text-center" id="grad_button">
                         <div class="col">
                            <a class="btn btn-primary btn-lg"href="{% url 'allocationapp:upload' %}">Back to Grad Upload</a>
                          </div>
                         <div class="col" >
                            <input class="btn btn-primary btn-lg" type="reset" value="Reset">
                         </div>
                        <div class="col">
                            <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                        </div>
                     </div>
                 </form>
             </div>
        </div>
    </div>
{% endblock %}