{% extends 'allocationapp/grad_base.html' %}
{% load static %}

{% block title_block %}
    Login (Graduate)
{% endblock %}


{% block body_block %}
    <div class="container text-center p-5" id="codeEntryGradContainer">
        <form class="p-5" method="POST" action="#">
            {% csrf_token %}
            <h1>Sign up here</h1>

            <div class="form-group text-center">
                {{ form.email }}
            </div>

            <button class="btn btn-success" id="codeEntryGraduateBtn" type="submit">Create Account</button>
        </form>

        <p>Haven't received a code? Please <a href="">click here</a>.</p>
    </div>
{% endblock %}