{% extends 'allocationapp/base.html' %}
{% load static %}

{% block title_block %}
    Login (Graduate)
{% endblock %}


{% block body_block %}
    <div class="container text-center">
        <div class="row-cols-12">
            <div class="form-group">
                </br>
                <h1>Enter Code</h1>
                </br>
                <input type="text" name="code" id="code" placeholder="Please input your code"/>
                </br>
                </br>
                <p>If you have not received your code, please <a href="">click here</a></p>
            </div>
            <button type="submit" id="submit" class="btn">Start Voting</button>
            <button type="reset" id="reset" class="btn">Reset</button>
        </div>
    </div>
{% endblock %}