<html>
    <head>
        <meta charset="utf-8">
        <title>Team Upload</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if all_csv %}
        <ul>
        {% for csv in all_csv %}
            <b>{{ csv.file.name }}</b>
            <li><a href="{{ csv.csv_file.url }}">{{ csv.csv_file.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'allocationapp:team_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.csv_file.label_tag }} {{ form.csv_file.help_text }}</p>
            <p>
                {{ form.csv_file.errors }}
                {{ form.csv_file }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    <a class="btn" href = "{% url 'allocationapp:team_create' %}">Populate Team Database </a>
    {% if populated %}
        <p>Team table populated</p>
    {% endif %}
    <a class="btn" href = "{% url 'allocationapp:team_reset' %}">Reset Team Database</a>
    </body>
</html> 