{% extends 'allocationapp/base.html' %}
{% load static %}

{% block title_block %}
    User CSV Upload
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div class="card text-center" id="upload">
                    <div class="card-header">
                        <h3>Upload Graduate Information</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {%if message.tags == 'error'%}alert-danger{%else%}alert-success{%endif%} alert-dismissible fade show text-left mt-2">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <h4 class="card-title">
                            {% if all_csv %}
                                <ul>
                                    {% for csv in all_csv %}
                                        <b>{{ csv.file.name }}</b>
                                        <li><a href="{{ csv.csv_file.url }}">{{ csv.csv_file.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No documents.</p>
                            {% endif %}
                        </h4>
                        <p class="card-text">
                            <form action="{% url 'allocationapp:upload' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{ form.non_field_errors }}</p>
                                <div class="float-left">
                                    <h5>{{ form.csv_file.label_tag }} {{ form.csv_file.help_text }}</h5>
                                </div>
                                    <br>
                                    <br>
                                <div class="col-md-8 offset-md-2">
                                    <div class="row">
                                        <div class="col">
                                            {{ form.csv_file.errors }}
                                            {{ form.csv_file }}
                                        </div>
                                        <div class="col">
                                            <input type="submit" value="Upload" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </p>
                    </div>

                    <div class="card-footer text-muted">
                        <div class="col-md-6 offset-md-3">
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-primary" href = "{% url 'allocationapp:create' %}">Create Database </a>
                                    {% if populated %}
                                        <p>User table populated</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <a class="btn btn-primary" href = "{% url 'allocationapp:reset' %}">Reset Database</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="button_upload">
        <div class="col mr-auto">
            <a class="btn  btn-lg btn-warning" href = "{% url 'allocationapp:team_upload' %}">Upload New Team Information</a>
        </div>
        <div class="col">
            <a class="btn btn-lg btn-warning" href = "{% url 'allocationapp:create_new_grad' %}">Create New Users Manually</a>
        </div>
    </div>
{% endblock %}
