{% extends 'allocationapp/grad_base.html' %}
{% load static %}

{% block title_block %}
   Vote Submitted
{% endblock %}

{% block body_block %}
   <div class="container mt-5 text-center">
      <div id="voteSubmitted" class="mb-3">
         {% if not allocation_run %}
            <p>Your votes have been <strong>submitted</strong>. You will be notified via email when the results are posted.</p>
         {% else %}
            <p>Results have been <strong>posted</strong>. Click the button below to view your team!</p>
         {% endif %}
      </div>

      <div class="row">
         <div class="col-8">
            <a href="{% url 'allocationapp:result_page' %}" class="btn btn-success btn-vote-submitted {%if not allocation_run%}disabled{%endif%}">See Results</a>
         </div>

         <div class="col-4">
            <a href="{% url 'allocationapp:cast_votes' %}" class="btn btn-warning btn-vote-submitted {%if allocation_run%}disabled{%endif%}">Edit Your Votes</a>
         </div>
      </div>
   </div>
{% endblock %}