{% extends 'allocationapp/base.html' %}
{% load static %}

{% block title_block %}
   Vote Submitted
{% endblock %}

{% block body_block %}
   <div class="container">
       <div class="row justify-content-md-center">
           <div class="col-md-auto">
              </br>
              </br>
              </br>
              </br>
         <div id="voteSubmitted">Your votes have been submitted. You will be notified </br>
         via email when the results are available.</div>
           </div>
       </div>
   <button type="submit" id="result" class="btn">See Result</button>
   <button type="submit" id="edit" class="btn">Edit Votes</button>
   </div>
{% endblock %}